<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Factorial</title>
	<style type="text/css">
		form{
			text-align: center;
			background-color: whitesmoke;
			font-size: 30px;
			font-family: sans-serif;
			color: beige;
			width: 500px;
			height: 200px;
			text-align: center;
			margin: 15% 1% 1% 30%;
		}
		input[type="number"]{
			width: =50%;
			margin: 5%;
			text-align: center;
		}
		h1{
			color: hotpink;
			text-align: center;
			font-size: 30px;
		}

	</style>
</head>
<body>
	<form action="/" method="POST">
		<input  type="number" id="input1" name="input1" placeholder="Enetr 1st latitude value:">
		<input  type="number" id="input2" name="input2" placeholder="Enetr 1st longitude value:">
		<input  type="number" id="input3" name="input3" placeholder="Enetr 2nd latitude value:">
		<input  type="number" id="input4" name="input4" placeholder="Enetr 2nd longitude value:">
		<button type="submit">Submit</button>
	</form>
	<h1>Distance is:{{message1}}</h1>
</body>
</html>